header {
    background-image: url(../images/header_image_aussie.jpg);
    width: 100%;
    height: 100%;
    padding: 0 0 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

}

main {
    background-color: blue;

}

footer {
    background-color: green;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}