/*Body*/
body {
    font-family: 'Courier New', Courier, monospace;
}

/*Header*/
header {
    background-image: url(../images/header_image_aussie.jpg);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0 0 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
#headline {
    display: none;
}

#tagline-header {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 70%;
    padding: 10px 5px;
    margin: 0;
}

/*Navigation menu*/
#navigation-menu {
    text-align: right;
    font-size: 110%;
    letter-spacing: 2px;
    padding: 20px 0;
    list-style-type: none;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
    font-weight: bold;
}

/*Navbar styles with dropdown toggle*/
nav {
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Links*/
a, a:visited {
    color: black;
}

/*Main content*/
main {
    background-color: blue;

}

/*Footer*/
footer {
    background-color: #c8d9e9;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}