header {
    background-color: orange;
}

main {
    background-color: blue;

}

footer {
    background-color: green;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}